.layout{
display:flex;
min-height:100vh;
}

.main-content{
flex:1;
background:#f4f7fb;
padding:30px;
}

.top-profile{
background:white;
padding:20px;
border-radius:10px;
width:350px;
margin-bottom:20px;
box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.top-profile h3{
margin:0;
color:#0b3d91;
}

.top-profile p{
margin:5px 0 0;
color:gray;
font-size:14px;
}

.page-content{
margin-top:10px;
}